<div class="content">
  <h4>Orders</h4>
  <div class="content-data">
    <div class="content-form" id="addProductForm">
      <table class="table order__table">
        <thead>
          <th style="width: 4rem">SL.NO</th>
          <th style="width: 12rem">Date</th>
          <th style="width: 23rem">Order Id</th>
          <th style="width: 20rem">User</th>
          <th>Amount</th>
          <th style="width: 8rem">View</th>
          <th style="width: 8rem">Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ order.chreatedAt | date }}</td>
            <td>{{ order.orderId }}</td>
            <td>{{ order.deliveryAddress.name }}</td>
            <td>{{ order.totalAmount }}</td>

            <td>
              <button class="view" (click)="nav(order._id)">View</button>
            </td>
            <td>
              <i
                (click)="deleteProduct(order._id)"
                class="fa fa-trash text-danger"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
