<div class="content">
  <h4>Orders</h4>
  <div class="content-data">
    <div class="content-form" id="addProductForm">
      <table class="table">
        <thead>
          <th style="width: 5em">SL.NO</th>
          <th style="width: 10em; min-width: 8em">Date</th>
          <th style="width: 20em">Order Id</th>
          <th style="width: 20em; min-width: 10em">User</th>
          <th style="width: 15em; min-width: 10em">Amount</th>
          <th style="width: 8em; min-width: 8em">View</th>
          <th style="width: 8em; min-width: 5em">Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ order.chreatedAt | date }}</td>
            <td>{{ order.orderId }}</td>
            <td>{{ order.deliveryAddress.name }}</td>
            <td>{{ order.totalAmount }}</td>
            <td>
              <button class="view" (click)="nav(order._id)">View</button>
            </td>
            <td>
              <i
                (click)="deleteProduct(order._id)"
                class="fa fa-trash text-danger"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
