<button (click)="goBack()" class="back-btn btn">
  <i class="fa fa-arrow-left" style="padding-right: 6px;"></i> Back
</button>

<div class="container">
  <h4>Contact Details</h4>
  <table class="order__table">
    <tr>
      <th>Name:</th>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{ data.phone }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>
        <a href="mailto:{{ data.email }}">{{ data.email }}</a>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <h4>Subject</h4>
  <table class="order__table">
  <tr><td>{{ data.subject }}</td></tr>
 </table>
  <br/>
  <br/>
  <h4>Message</h4>
  <table class="order__table">
    <tr><td>{{ data.message }}</td></tr>
  </table>
</div>
